
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
</head>
<body>
    <div> 
        <form method="post" action="/Categoria/Adiciona">
            <label id="nome">Nome:</label>
            <input id="nome" name="categoria.Nome"/>

            <label id="descricao">Descricao:</label>
            <input id="descricao" name="categoria.Descricao" />

            <input type="submit" />
        </form>
    </div>
</body>
</html>
